
\.DS_Store

utils/__pycache__/Cards_loader\.cpython-37\.pyc

utils/__pycache__/readwriteatis_kaerdat\.cpython-37\.pyc

utils/__pycache__/Time_Surface_generators\.cpython-37\.pyc

\.ipynb_checkpoints/visualization-checkpoint\.ipynb

output/main\.py\.2019-07-22\+13:05/results\.h5

output/main\.py\.2019-07-22\+13:05/results\.txt

*.h5

output/main\.py\.2019-07-22\+13:55/results\.txt

output/main\.py\.2019-07-22\+15:12/results\.txt

output/main\.py\.2019-07-22\+15:43\+1/results\.txt

prosper_stuff/src/prosper/

prosper_stuff/utils/__pycache__/__init__\.cpython-37\.pyc

*.pyc
